* {
    margin: 0;
    padding: 0;
}

body {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}

#title {
    margin-bottom: 10px;
    text-align: center;
}

#flag-output {
    width: 900px;
    height: 600px;
    outline: #444 solid 5px;
    position: absolute;
    right: 10px;
}